@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.card-wrapper{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10rem;
}
.card-wrapper img{
    width: 100%;
    display: block;
    height: 40%;
}
.img-display{
    overflow: hidden;
}
.shu{
    height: 100%;
    width: 100%;
}
.img-showcase{
    display: flex;
    /* width: 100%; */
    transition: all 0.5s ease;
}
.img-showcase img{
    width: 100%;
    height: 40%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title:active{
    background-color: red;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: lightgreen;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding-left: 0rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
    margin-left: -3.5rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
/* .purchase-info input{
    width: 60px;
} */
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
/* .social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
} */

@media screen and (min-width: 992px){
    .card0{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
.box12{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px     6px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: -10px;
    margin-top: 2rem;
}
.box12 .size-btn12 a:link,  .box12 .size-btn12 a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    
    border-radius: 10px;
    
  }
  
  .box12 .size-btn12 a:hover {
    background-color: lightgreen;
    border-radius: 20px;
  }




@media (max-width: 786px) {
    .card-wrapper {
      width: 100%;
      margin-top: 6rem;
    }
    .card0 {
      grid-template-columns: 1fr;
    }
    .product-imgs {
      flex-direction: row;
    }
    .product-content {
      padding-top: 2rem;
    }
    .product-title {
      font-size: 2rem;
    }
    .product-link {
      font-size: 0.8rem;
    }
    .img-select {
      flex-direction: row;
      justify-content: center;
    }
    .box12 {
      margin-top: 1rem;
      padding: 10px 6px;
    }
    .box12 .size-btn12 a {
      padding: 10px 20px;
      border-radius: 10px;
    }
  }
  
