body{
    /* background:url(images/bg-4.png) no-repeat; */
    background-size: cover;
}

.header{
    top: 0;
    right: 0;left: 0;
    background-color: transparent;
    background-color: #8c52ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    position: fixed;
    padding: 10px;
    z-index: 999;
}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    height: 25px;
}
.header .logoContent .logoName {
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 15px;
    margin-right: 25px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.header .navbar a:hover{
    text-decoration: underline; 
    color: white;
    text-decoration: none;
}
#menu-bar{
    display: none;
}
  
 